{% extends 'base.html' %}
 
{% block container %}
<section class="noto bb b--light-blue">
  <div class="w100 center bb b--light-blue bg-lightest-blue">
      <div class="pa3 pa4-ns tc v-mid ">
          <h2 class="f2 fw5 blue mt0 mb3">About</h2>
      </div>
  </div>
  <div class="pa3 pa5-ns tj fw4 db center f5 lh-copy black-70">

<p>Eculum provides features that make anyone to reach out people with an interest in what you are tweeting by making use of power of hashtags, intelligent recommendation of people that can be your potential audience, article suggestions based on what you are tweeting, interest classifier of your followers and people you are following and insights about growth of your friends.
</p> 
<p>
This makes Eculum, an intelligent Social Media Management Platform for anyone.

We are a team of two working constantly to provide solutions to current problems that people face and that can be solved using technology. Eculum will try to step into wherever possible and bring innovation to new level in India.
</p>
<p>
We belief in following saying:
<blockquote>“Eliminate human labor in areas previously believed to be hard to automate ”</blockquote>

We are always focussing to reduce human efforts in tasks that were considered insignificant or hard to automate but impacts the most. We use algorithms derived from hard research to maximize effectiveness.

</p>
</div>
</section>
{% endblock %}