{% extends 'base.html' %}
 
{% block container %}
  <section class="vh-100 grad-blue">
        <div class="noto cover vh-50 dt w-100">
            <div class="dtc v-mid tc ph3">
                <h1 class="f2-ns fw5 black-90">Find meaning in your social media audience</h1>
                <h3 class="f4-ns fw3 black-40">An intelligent platform to build and analyse your social media audience</h3>
                <a class="f5 shadow-2-l br-pill no-underline blue bg-animate hover-bg-blue hover-white inline-flex items-center pt2 pb2 pr3 pl3 ba border-box b--blue" href="https://api.eculum.com/v1/auth/twitter">Get Started
                <svg class="w1" data-icon="chevronRight" viewBox="0 0 32 32" style="fill:currentcolor">
                <title>chevronRight icon</title>
                <path d="M12 1 L26 16 L12 31 L8 27 L18 16 L8 5 z"></path>
                </svg>
                </a>
            </div>
        </div>
        <div id="mc_embed_signup" class="mb4 mb0-ns fl w-100 noto">
            <form action="//twitter.us16.list-manage.com/subscribe/post?u=567f5df40cd4fedf24ca16e56&amp;id=3abdc6a903" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                    <label class="f2 fw3 mb2 black-70" for="mce-EMAIL">
                        Subscribe for latest updates.
                    </label>
                    <input type="email" value="" name="EMAIL" class="mw-100 br-pill w-100 w5-ns f5 input-reset ba b--black-20 pv3 ph4 border-box outline-0" id="mce-EMAIL" placeholder="Email" required>
                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                        <input type="text" name="b_567f5df40cd4fedf24ca16e56_3abdc6a903" tabindex="-1" value="">
                    </div>
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="input-reset blue bg-white bg-hover-mid-gray b--blue bg-animate w-auto-ns mv2 bg-black-80 white f5 pv2 pv3-ns ph4 ba b--black-80 bg-hover-mid-gray f5 shadow-2-l br-pill no-underline blue bg-animate hover-bg-blue hover-white inline-flex items-center pt2 pb2 pr3 pl3 ba border-box b--blue outline-0">
                </div>
            </form>
        </div>
    </section>
{% endblock %}